@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
.login{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    position: fixed;
    top: 0;
    left: 0;
    color: white;
    display: flex;
  
    justify-content:center;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
}
.login_card{
    width:40%;
    height: 60%;
    margin-top: 100px;
    background-color: rgb(37, 37, 51);
    box-sizing: border-box;
    padding: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0.5px 0.5px 8px white;
    
}
.title_card{
    font-size: 32px;
    font-weight: 500;
    display: flex;
    gap:10px;
}
.navbar_title{
    font-size: 10px;
    word-spacing: 0px;
    letter-spacing: 0px;
    font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}
.login_credential{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 25px;
    width:100%;
    align-items: center;
    justify-content: center;
}
.username_login{
     width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.username_loginusername{
     width: 60%;
    height: 45px;
    padding: 0 10px;
    border: none;
    border-radius: 5px;
    font-weight: 600;
}
.login_buttons{
     width: 60%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.loginbtn{width: 25%;
    border: 1px solid;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    color: white;
    text-decoration: none;
    &:hover{
        color: black;
        background-color: white;
    }

}
